In [ ]:
엠

In [4]:
import pandas as pd

# 질병 정보 데이터프레임
disease_data = {
    'patient_id': ['P001', 'P002', 'P003', 'P004', 'P005'],
    'last_diagnosed_date': ['2023-01-15', '2023-06-20', '2022-11-10', '2023-03-05', None],
    'disease_code': ['A01', 'B02', 'C03', 'A01', None],
    'is_infected': [True, True, False, True, False]
}

df_disease = pd.DataFrame(disease_data)

# 결과 출력
print("질병 정보 데이터프레임:")
print(df_disease)

질병 정보 데이터프레임:
  patient_id last_diagnosed_date disease_code  is_infected
0       P001          2023-01-15          A01         True
1       P002          2023-06-20          B02         True
2       P003          2022-11-10          C03        False
3       P004          2023-03-05          A01         True
4       P005                None         None        False

In [2]:
import pandas as pd

# 모든 환자 ID 데이터프레임
id_data = {
    'patient_id': ['P001', 'P002', 'P003', 'P004', 'P005', 'P006', 'P007']
}

df_ids = pd.DataFrame(id_data)

# 결과 출력
print("\n모든 환자 ID 데이터프레임:")
print(df_ids)

모든 환자 ID 데이터프레임:
  patient_id
0       P001
1       P002
2       P003
3       P004
4       P005
5       P006
6       P007

In [3]:
df_disease

  patient_id last_diagnosed_date disease_code  is_infected
0       P001          2023-01-15          A01         True
1       P002          2023-06-20          B02         True
2       P003          2022-11-10          C03        False
3       P004          2023-03-05          A01         True
4       P005                None         None        False

In [16]:
db = {}

for  id, code, is_infected in zip(df_disease['patient_id'], df_disease['disease_code'], df_disease['is_infected']):
    print(id, code, is_infected)
    if is_infected == True and (id in db) == False:
        db[id] = (code)


db

P001 A01 True
P002 B02 True
P003 C03 False
P004 A01 True
P005 None False

{'P001': 'A01', 'P002': 'B02', 'P004': 'A01'}

In [17]:
df_ids['recently_infected'] = None

In [18]:
df_ids

  patient_id recently_infected
0       P001              None
1       P002              None
2       P003              None
3       P004              None
4       P005              None
5       P006              None
6       P007              None

In [20]:
for idx, (id, infected) in enumerate(zip(df_ids['patient_id'], df_ids['recently_infected'])):
    if id in db:
        # print(db[id])
        df_ids.at[idx, 'recently_infected'] = db[id]
    else:
        df_ids.at[idx, 'recently_infected'] = "Healthy"

df_ids

  patient_id recently_infected
0       P001               A01
1       P002               B02
2       P003           Healthy
3       P004               A01
4       P005           Healthy
5       P006           Healthy
6       P007           Healthy

In [21]:
df_ids['recently_infected2'] = df_ids['patient_id'].apply(lambda x: db.get(x, 'Healthy'))
print(df_ids)

  patient_id recently_infected recently_infected2
0       P001               A01                A01
1       P002               B02                B02
2       P003           Healthy            Healthy
3       P004               A01                A01
4       P005           Healthy            Healthy
5       P006           Healthy            Healthy
6       P007           Healthy            Healthy